
.a{
position:absolute;
left:40px;
top:130px

}

.b{
position:absolute;
left:280px;
top:130px

}
.c{
position:absolute;
left:540px;
top:130px

}
.d{
position:absolute;
left:800px;
top:130px

}

.a1{
position:absolute;
left:40px;
top:330px

}

.b1{
position:absolute;
left:280px;
top:330px

}
.c1{
position:absolute;
left:540px;
top:330px

}
.d1{
position:absolute;
left:800px;
top:330px

}
.a4{
position:absolute;
left:40px;
top:1500px

}

.b4{
position:absolute;
left:280px;
top:1500px

}
.c4{
position:absolute;
left:540px;
top:1500px

}
.d4{
position:absolute;
left:800px;
top:1500px

}
.n1{
font-size:100px;
position:absolute;
left:350px;
top:1200px;
color:#00FA9A;
}

.n2{
font-size:40px;
position:absolute;
left:35px;
top:10px

}
.n3{
font-size:40px;
position:absolute;
left:46%;
top:10px

}
.n4{
font-size:40px;
position:absolute;
left:80%;
top:10px

}
.n5{
font-size:40px;
position:absolute;
left:90%;
top:4px

}
.d12{
position:absolute;
left:900px;
top:1100px

}
.n11{
position:absolute;
left:10px;
top:1100px

}
